@mixin link-ghost-button($color-base, $color-switch) {
    border: 2px solid $color-base;
    border-radius: $button-border-radius;
    color: $color-base;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 4px;
    line-height: 100%;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color $transition-time, color $transition-time;

    &:hover {
        background-color: $color-base;
        color: $color-switch;
    }
}

a {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
    cursor: help;
    text-decoration: none;
}

html {
    min-width: 320px;
    overflow-x: hidden;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 90px 0;
    position: relative;
    width: 100vw;

    @include breakpoint("xs", "only") {
        padding: 50px 0;
    }

    > header {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        position: relative;
        width: 100%;
        z-index: 1;

        p {
            @include flow-text(32, 60, "px");
            font-weight: 400;
            margin: 0;
            text-align: left;
            text-transform: uppercase;
        }

        small {
            @include flow-text(16, 24, "px");
            display: block;
        }

        &::before {
            background-color: $primary;
            border-radius: 4px;
            content: "";
            margin-right: 12px;
            position: relative;
            top: -5px;
            width: 8px;

            @include breakpoint("sm", "and-down") {
                border-radius: 3px;
                top: -3px;
                width: 6px;
            }
        }
    }

    &.parallax {
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &:nth-of-type(odd) {
        > header {
            p {
                color: $white;
            }
        }
    }
}

.dim {
    background-color: rgba(0, 0, 0, $dim-percentage);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.font-lato {
    font-family: "Lato", #{$font-fallback};
}

.font-roboto {
    font-family: "Roboto", #{$font-fallback};
}

.outline-only {
    display: none;
}