@mixin link-ghost-button($color-base, $color-switch) {
    border: 2px solid $color-base;
    border-radius: $button-border-radius;
    color: $color-base;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 4px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color $hover-transition-time, color $hover-transition-time;

    &:hover {
        background-color: $color-base;
        color: $color-switch;
    }
}

abbr[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

html {
    min-width: 320px;
}

.content-section {
    position: relative;

    > header {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        z-index: 1;

        h3 {
            @include flow-text(32, 60, "px");
            color: $white;
            font-weight: 400;
            margin: 0;
            text-align: left;
            text-transform: uppercase;
        }

        small {
            @include flow-text(16, 24, "px");
            display: block;
        }

        &::before {
            background-color: $primary;
            content: "";
            height: auto;
            margin-right: 12px;
            position: relative;
            top: -5px;
            width: 8px;

            @include breakpoint("sm", "and-down") {
                top: -3px;
                width: 6px;
            }
        }
    }
}

.dim {
    background-color: rgba(0, 0, 0, $dim-percentage);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.font-lato {
    font-family: "Lato", #{$font-fallback};
}

.font-roboto {
    font-family: "Roboto", #{$font-fallback};
}

.outline-only {
    display: none;
}