// Colors
$black: #000;
$primary: #3498db;
$text-secondary: #757575;
$white: #fff;

// Responsiveness
$breakpoints: (
    "xs": 0,
    "sm": 544,
    "md": 768,
    "lg": 992,
    "xl": 1200
);
@include flexbox-grid();

// Elements style
$cuts-color: $white;
$dim-percentage: .55;

// General settings
$button-border-radius: 5px;
$font-fallback: "Arial, sans-serif";
$hover-transition-time: .5s;