#footer {
    background-color: $black;

    p {
        @include flow-text(14, 18, "px");
        color: $white;
        font-weight: 300;
        margin: 0;

        @include breakpoint("sm", "and-down") {
            flex-basis: 100%;
            text-align: center;
        }

        &.pull-right {
            margin-left: auto;
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
    }
}