#home {
    background: url("/images/backgrounds/home.png") no-repeat center center;
    background-size: cover;
    height: 600px;

    h1 {
        @include flow-text(32, 60, "px");
        color: $white;
        flex-basis: 100%;
        font-weight: 400;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
    }

    small {
        @include flow-text(16, 24, "px");
        display: block;
    }

    .separator {
        display: flex;
        flex-basis: 100%;
        margin: 25px 0;
        padding: 0 5%;

        span {
            border: 2px solid $primary;
            height: 14px;
            margin: 0 15px;
            transform: rotateZ(45deg);
            width: 14px;
        }

        &::after,
        &::before {
            align-self: center;
            background-color: $white;
            content: "";
            display: block;
            flex-grow: 1;
            height: 2px;
        }
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}